{% extends 'master.html' %}
{% load static %}
{% load custom_filter %}
<!-- ----------------------------------------------------------------------------------- -->
{% block title_block %} | API{%endblock%}
<!-- ----------------------------------------------------------------------------------- -->
{% block head_block %}

<script src="{% static 'main/js/main.js' %}"></script>

{% endblock %}
<!-- ----------------------------------------------------------------------------------- -->
{% block main_block %}

<center>
    <div>
        {% for pin in pinned %}
        <div id="notification_{{pin.notification_id}}">
            {% with pin.made_date|split:"T,0" as skills %}
            {{skills}} | {{pin.notification_body}}
            {% endwith %}
        </div><br>
        {% endfor %}
    </div>
    <hr>
    <table>
        <h2>{{user}} | {{endpoint}}</h2>
        <tbody>
            <tr>
                <td>
                    <h3>
                        API AUTH TOKEN
                    </h3>
                </td>
                <td>
                    {% if user %}
                    <input type="text" value="{{AWT}}" id="auth_token" name="auth_token"
                        style="width: 10; background-color: #6b5353; color: #7a8952;" readonly>
                    {% else %}
                    INVALID
                    {% endif %}

                </td>
                <td>
                    <button type="button" onclick="copy_me('index')">CopyME</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <center>
                        <form action="{% url 'API_TOKEN' word='signout' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <button type="submit" id="user_submit" value="signout">LOGOUT</button>
                        </form>
                    </center>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <hr>
    <p>
        <a href="{% static 'docs/education-for-all.postman_collection.json' %}"
            style="text-decoration: none; color:aquamarine;" target="_blank" download="API_DOCS">==> POSTMAN JSON EXPORT
            (DEVELOPMENT)<span style="color:magenta;">[Latest]</span>
            <==< /a><br><br>
                <a href="{% static 'docs/Case_Wise.postman_collection.json' %}"
                    style="text-decoration: none; color:aquamarine;" target="_blank" download="TEST_CASE">==> CASE STUDY
                    - POSTMAN JSON EXPORT (DEVELOPMENT)<span style="color:magenta;">[Latest]</span>
                    <==< /a><br><br>
    </p>
    <hr>
</center>

{% endblock %}
<!-- ----------------------------------------------------------------------------------- -->