{% extends 'master.html' %}
{% load static %}
<!-- ----------------------------------------------------------------------------------- -->
{% block title_block %} | API{%endblock%}
<!-- ----------------------------------------------------------------------------------- -->
{% block head_block %}

<script src="{% static 'main/js/main.js' %}"></script>

{% endblock %}
<!-- ----------------------------------------------------------------------------------- -->
{% block main_block %}

<center>
    <table>
        <tbody>
            <form action="{% url 'API_TOKEN' word='signup' %}" enctype="multipart/form-data" method="POST" autocomplete="on">
                {% csrf_token %}
                <input type="text" name="form_type" id="form_type" value="signup" hidden required>
                <tr>
                    <th>First Name</th>
                    <td>
                        <input type="text" name="user_f_name" id="user_f_name" required autofocus>
                    </td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>
                        <input type="text" name="user_l_name" id="user_l_name" required>
                    </td>
                </tr>
                <tr>
                    <th>Api Endpoint</th>
                    <td>
                        <select name="api_endpoint" id="api_endpoint" required>
                            <option value="1" selected>Web Development</option>
                            <option value="2">Android App Development</option>
                            <option value="3">Apple App Development</option>
                            <option value="4">Windows Software Development</option>
                            <option value="5">Linux Software Development</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Email ID</th>
                    <td>
                        <input type="email" name="user_email" id="user_email" required>
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>
                        <input type="password" name="user_password" id="user_password" required>
                        <button type="button" onclick="copy_me('signup')">CopyME</button>
                        <button id="genPass" onclick="generate_Password(16)">GENERATE</button>
                    </td>
                </tr>
                <tr>
                    <th>Are You Sure ?</th>
                    <td>
                        <input type="checkbox" id="user_sure" onclick="signup_checkbox(this)">
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <button type="submit" id="user_submit" value="signup" disabled>Submit</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <center>
                        {% if messages %}
                        <ul style="list-style-type:none;" class="messages">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        </center>
                    </td>
                </tr>
                <tr>
                    <th>
                        Already have an account ?
                    </th>
                    <td>
                        <a href="{% url 'API_TOKEN' word='signin' %}" style="text-decoration: none;">Click Here</a>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>
    <br>
    <hr>
</center>

{% endblock %}
<!-- ----------------------------------------------------------------------------------- -->